<head>
 <title>{{ 'Authorization' | trans }}</title>
</head>

<link id="theme-style" rel="stylesheet" href="{{ asset('css/portal.css') }}">
<link id="theme-style" rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.css') }}">

<body>
    <div class="row g-0 app-auth-wrapper p-3">
        <div class="col-12 auth-main-col text-center">
            <div class="d-flex flex-column align-content-end">
                <div class="app-auth-body mx-auto">
                    <h2 class="auth-heading text-center">{{ 'Authorization' | trans }}</h2>
                    <div class="auth-form-container">
                        <div class="justify-content-center align-items-center">
                        <form class="auth-form login-form" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="email mb-3">
                                <input type="text" value="{{ last_username }}" name="username" class="form-control" placeholder="Логин" autocomplete="username" required autofocus>
                            </div>
                            <div class="password mb-3">
                                <input name="password" type="password" class="form-control signin-password" placeholder="Пароль" required="required">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block theme-btn mx-auto">Войти</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>