<div class="app-card app-card-stats-table h-100 shadow-sm">
    <div class="app-card-header p-3">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h4 class="app-card-title">{{ tool.name }}</h4>
            </div>
            <div class="col-auto">
                <div class="card-header-action">
                    <button type="button" class="btn edit-tool btn-primary"
                    data-action="{{ path('edit_tool', {id: tool.id}) }}" 
                    data-name="{{ tool.name }}" 
                    data-address="{{ tool.address }}" 
                    data-type="{{ tool.type.id }}" 
                    data-toggle="modal" data-target="#toolForm">{{ 'Edit' | trans }}</button>
                    {% if not tool.deleted %}
                        <button type="button" class="btn prompt btn-danger" 
                        data-action="{{ path('delete_tool', {id: tool.id}) }}"
                        data-text="{{ "Are you sure you want to remove the tool" | trans ~ "?" }}" 
                        data-toggle="modal" data-target="#promptForm">{{ 'Delete' | trans }}</button>
                    {% else %}
                        <button type="button" class="btn prompt btn-success" 
                        data-action="{{ path('undelete_tool', {id: tool.id}) }}"
                        data-text="{{ "Are you sure you want to restore the tool" | trans ~ "?" }}" 
                        data-toggle="modal" data-target="#promptForm">{{ 'Restore' | trans }}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="app-card-body p-3 p-lg-4">
        <div class="row">
            <div class="col-12 mb-2">
                <span class="float-end">{{ "Address tool" | trans }}: {{ tool.address }}</span>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        {% for statusTool in tool.getToolStatusesLimit(20) %}
                            <div class="beat" title="{{ (statusTool.createdAt | date("d.m.Y H:i")) ~ "\n" ~ statusTool.messages }}" style="background: {{ statusTool.status.color }}"></div>
                        {% endfor %}
                    </div>
                    <div class="col-4">
                        <span class="float-end badge rounded-pill state-text" style="background: {{ tool.status.color }}">{{ tool.status.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        let formPrompt = $(".form-promptForm");
        let formTool = $(".form-toolForm");

        $( ".edit-tool" ).click(function() {
            formTool.attr('action', $(this).data('action'));
            formTool.find(".tool-name").val($(this).data('name'));
            formTool.find(".tool-type").val($(this).data('type'));
            formTool.find(".tool-address").val($(this).data('address'));
        });

        $( ".prompt" ).click(function() {
            formPrompt.attr('action', $(this).data('action'));
            formPrompt.find(".prompt-text").html($(this).data('text'));
        });
    });
</script>