{% extends 'base.html.twig' %}

{% block title %}{{ "Tool monitoring" | trans }}{% endblock %}

{% block body %}
<div class="row">
<div class="col-12" id="listTool">
    <div class="app-card app-card-stats-table h-100 shadow-sm">
        <div class="app-card-header p-3">
            <div class="row justify-content-between align-items-center">
                <div class="col-4">
                    <h4 class="app-card-title">{{ 'List tool' | trans }}</h4>
                </div>
                <div class="col-3">
                    <div class="card-header-action">
                        <form class="form-filter" method="POST">
                            <div class="row">
                                <div class="col-1">
                                    <div class="form-check">
                                        <input class="form-check-input fiters" type="checkbox" {% if filters is defined and filters.deleted == true %}checked{% endif %} id="filtersDeleted" name="filters[deleted]">
                                        <label class="form-check-label fiters" for="filtersDeleted">
                                            {{ "Deleted" | trans }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <button type="button" href="#" class="btn float-end add-tool btn-primary" data-action="{{ path('add_tool') }}" data-toggle="modal" data-target="#toolForm">{{ 'Add tool' | trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-card-body p-3 p-lg-4">
            <div class="table-responsive">
                <table class="table table-borderless mb-0">
                    <thead>
                        <tr>
                            <th class="meta">{{ 'Name' | trans }}</th>
                            <th class="meta stat-cell">{{ 'Availability legend' | trans }}</th>
                            <th class="meta stat-cell">{{ 'Productivity' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tool in tools %}
                            <tr>
                                <td><a class="details-view" data-id={{tool.id}}>{{ tool.name }}</a></td>
                                <td class="stat-cell">
                                {% for statusTool in tool.getToolStatusesLimit(10) %}
                                    <div class="beat-mobile" style="background: {{ statusTool.status.color }}"></div>
                                {% endfor %}
                                </td>
                                <td class="stat-cell">-</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-8" id="loaderDetails" hidden>
   <center><div class="lds-dual-ring"></div></center>
</div>
<div class="col-12 col-lg-8" id="detailsTool" hidden>
   
</div>
</div>

<script>
    $(function() {
        let idTool;

        $(".fiters").click(function() {
            $(".form-filter").submit();
        });

        $(".details-view").click(function() {
            $("#listTool").addClass('col-lg-4');
            $("#detailsTool").attr('hidden', true);
            $("#loaderDetails").removeAttr('hidden');
            idTool = $(this).data('id');
            getDetailsTool(idTool);
        });

        setInterval( function () {
            if (idTool) {
                getDetailsTool(idTool);
            }
        }, 10000 );

    });

    function getDetailsTool(id) {
        $.ajax({
            url: '{{ path('details_tool') }}',
            data: {id},
            method: "POST",
            success: function (data) {
                $("#detailsTool").html(data.content);
                $("#detailsTool").removeAttr('hidden');
                $("#loaderDetails").attr('hidden', true);
            }
        });
    }
</script>
{% endblock %}

{% block modal %}
    {% import 'forms/form_tool.html.twig' as toolForm %}

    {% set toolFormVars = {
        formId: 'toolForm',
        content: toolForm.inputs(toolTypes),
        title: 'Tool' | trans
    } %}

    {% include 'partial/modal.html.twig' with toolFormVars %}

    {% import 'forms/prompt.html.twig' as promptForm %}


    {% set promptVars = {
        formId: 'promptForm',
        content: promptForm.inputs(),
        title: 'Notification' | trans
    } %}

    {% include 'partial/modal.html.twig' with promptVars %}
{% endblock %}